@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>HomeStore is the home décor superstore that provides endless possibilities at an unbeatable value.
     We bring more than 30 years of passion and experience to the ever-evolving home décor category.

 From quirky to traditional, modern to exotic, we pride ourselves on having something for everyone. 
    Express your personal style by choosing from our expansive selection of patio furniture, home furnishings, wall décor and decorative accents, rugs and housewares.

 Our broad assortment and everyday low prices enable everyone to affordably make their house a home.</p>

<p>HomeStore is a privately held home decor retail chain based in Louisville, Kentucky. 
    Owned and operated by CIS 411 students. The store is a big box specialty retailer
     of home decor products with more than 50,000 unique items across broad product categories,
     including furniture, home textiles, housewares, patio, rugs, seasonal decor, 
    tabletop décor, and wall decor.</p>
