@{
    ViewBag.Title = "About Us!";
}
<h2>@ViewBag.Title</h2>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/TestStyles.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/AboutUs.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- Page Content -->
<div class="container">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://www.steelhawkairsoft.com/wp-content/uploads/2015/05/62.jpg">
        <h2 class="featurette-heading">
            Who we are
        </h2>
        <p class="lead">HomeStore is the home décor superstore that provides endless possibilities at an unbeatable value.
     We bring more than 30 years of passion and experience to the ever-evolving home décor category.

 From quirky to traditional, modern to exotic, we pride ourselves on having something for everyone.
    Express your personal style by choosing from our expansive selection of patio furniture, home furnishings, wall décor and decorative accents, rugs and housewares.

 Our broad assortment and everyday low prices enable everyone to affordably make their house a home.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="https://static.artfire.com/uploads/products/2015/02/11/a4/11270907/large/feather_housewares_wall_vinyl_decal_art_design_mural_modern_home_interior_decor_stylish_sticker_sv4504_8742e6ed.jpg">
        <h2 class="featurette-heading">
            And more...
        </h2>
        <p class="lead">
            HomeStore is a privately held home decor retail chain based in Louisville, Kentucky.
            Owned and operated by CIS 411 students. The store is a big box specialty retailer
            of home decor products with more than 50,000 unique items across broad product categories,
            including furniture, home textiles, housewares, patio, rugs, seasonal decor,
            tabletop décor, and wall decor.
       </p>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; HomeStore 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
<!-- jQuery -->
<script src="~/Scripts/jquery-1.10.2.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>


