
@{
    ViewBag.Title = "PaymentSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="~/Content/ShoppingCart.css" />

<h2>Payment Successful!</h2>

<h3>Congratulations on your purchase! We know you're going to love it!</h3>
<p>Take a peak at you email mail box...</p>
<p>There you will find your emailed receipt for your records. Keep this in case you don't love what you bought!</p>



